.Freshnavbar{
    width: 100%;
}

.Navbar{
    background-color: #603E9F;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.25rem;
    gap: 5rem;
    width: 100%;
}
.Navbarleft{
   
    display: flex;
    font-size: 0.85rem;
    gap: 1.8rem;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-weight: 500;
    span{
        cursor: pointer;
    }
}
.Navbarright{
    display: flex;
    gap: 1.1rem;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: 500;
    img{
        cursor: pointer;
    }
}
.navicons{
    width: 1.3rem;
    margin-right: 0.6rem;
}
.notiicon{
    width: 2rem;
}
.searchbox{
    background: #e2d8fd;
    border-radius: 0.9rem;
    border-color: #e2d8fd;
    outline: none;
    padding: 1rem;
    width: 15rem;
    height: 2rem;
    border: 1px solid #e2d8fd;
    font-size: 0.9rem;
}