* {
  box-sizing: border-box;
}
.loginform-btn {
  background-color: #4130ae;
  border: 0;
  color: hsl(90, 50%, 95%);
  margin-block-start: var(--gap);
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
}
.loginform-btn .listening {
  background-color: hsl(0, 50%, 50%);
  color: hsl(0, 50%, 95%);
}

fieldset {
  background: #ffffff;
  /* border: 1px solid #bbb; */
  border: none;
  padding: var(--gap);
  width: 30rem;
}
.login-form {
  margin: 0 auto;
  max-width: 30rem;
}

.input-container {
  display: flex;
  padding: 0.5rem 0;
  width: 60%;
  margin: 0 auto;
}

.icon {
  padding: 0.75rem 0;
  background: #f0edffcc;
  color: black;
  min-width: 40px;
  text-align: center;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.input-field {
  width: 100%;
  padding: 0.75rem 0;
  border: none;
  outline: none;
  background-color: #f0edffcc;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
small{
  color: red;
}
