* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.bg-signin{
    width: 100%;
}

.signin {
    width: 100%;
    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: blueviolet;
        &__form {
            background-color: #ffffff;
            width: 50%;
            padding: 1rem;
            // border: 0.1rem solid black;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            min-height: 100vh;
            &__logo {

                img {

                    width: 4vw;

                    height: 9vh;

                }

            }

            &__left {
                text-align: center;
                form {
                    text-align: center;
                    display: flex;

                    flex-direction: column;

                    justify-content: center;

                }


            }

        }

        &__right {

            width: 50%;

            padding: 1rem;

            img {
                height: 25rem;
                margin-top: 5rem;
            }

        }

    }

}

.input-field{
    border: 1px solid #bbb;
    display: block;
    padding: .5rem;
    resize: vertical;
    width: 60%;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #F0EDFFCC;
}

.webcam-container{
    width: 100%;
    max-width: 28rem;
    overflow: hidden;
    height: 55vh;
}