* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.homepage__header {
  width: 100%;
  background-color: #F5F3FE;
  height: 11vh;
}
.homepage__header__section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.homepage__header__section__nav1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.homepage__header__section__nav1__navcontent {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
}
.homepage__header__section__nav1__navcontent li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.homepage__header__section__nav1__navcontent li a:hover {
  color: #4A49D9;
  border: 1px solid #7c7be2;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.homepage__header__section__nav2__buttons {
  display: flex;
  gap: 2rem;
}
.homepage__header__section__nav2__buttons button {
  font-size: 1.2vw;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.homepage__header__section__nav2__buttons button:nth-child(1) {
  background-color: #DBDBF7;
  color: #333333;
}
.homepage__header__section__nav2__buttons button:nth-child(2) {
  background-color: #4A49D9;
  color: #ffffff;
}
.homepage__header__section__hamburger {
  display: none;
  position: relative;
}
.homepage__header__section__hamburger .toggledropdown {
  position: absolute;
  top: 99%;
  right: -0.05rem;
  background-color: #F5F3FE;
  width: 30vw;
  padding: 1rem 0;
  max-width: 300px;
  border-radius: 0.25rem;
}
.homepage__header__section__hamburger .toggledropdown ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
.homepage__header__section__hamburger .toggledropdown ul li {
  margin-bottom: 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid black;
}
.homepage__header__section__hamburger .toggledropdown ul li a {
  color: black;
  text-decoration: none;
  font-size: 2.25vw;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.homepage__header__section__hamburger .toggledropdown .dropdown-btns {
  display: flex;
  justify-content: space-evenly;
  padding: 0.75rem 0 0.5rem 0;
}
.homepage__header__section__hamburger .toggledropdown .dropdown-btns button {
  cursor: pointer;
}
.homepage__header__section__hamburger .toggledropdown .dropdown-btns button:nth-child(1) {
  background-color: #DBDBF7;
  color: #333333;
  padding: 0.5rem 1rem;
}
.homepage__header__section__hamburger .toggledropdown .dropdown-btns button:nth-child(2) {
  background-color: #4A49D9;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.homepage__banner {
  background-color: #4A49D9;
  color: #ffffff;
}
.homepage__banner__main {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.homepage__banner__main__content {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.homepage__banner__main__content__title {
  font-size: 3vw;
  font-weight: 700;
  line-height: 135%;
}
.homepage__banner__main__content__description {
  font-size: 1.35vw;
  padding: 2rem 0 1rem 0;
}
.homepage__banner__main__content__button {
  margin-top: 1rem;
}
.homepage__banner__main__content__button button {
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background-color: #7c7be2;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.35vw;
  cursor: pointer;
}
.homepage__banner__main__video {
  padding: 1rem 1rem 1rem 2.5rem;
  display: flex;
  align-items: center;
}
.homepage__banner__main__video img {
  width: 35vw;
  height: 60vh;
}
.homepage__ourprojects {
  width: 100%;
  background-color: #ffffff;
}
.homepage__ourprojects__section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0 2rem 0;
}
.homepage__ourprojects__section__video img {
  width: 40vw;
  height: 55vh;
}
.homepage__ourprojects__section__content {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 3rem 1.5rem;
}
.homepage__ourprojects__section__content__title {
  font-weight: 700;
  font-size: 3vw;
}
.homepage__ourprojects__section__content__description p {
  font-weight: normal;
  padding-top: 1.5rem;
}
.homepage__ourfeatures {
  width: 100%;
  background-color: #DBDBF7;
}
.homepage__ourfeatures__section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem 0.5rem;
}
.homepage__ourfeatures__section__heading {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  color: black;
}
.homepage__ourfeatures__section__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem 0;
}
.homepage__ourfeatures__section__container__card {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 1.5rem;
  background-color: #ffffff;
  width: 31%;
  padding: 1rem;
  box-shadow: 0px 22px 20px rgba(137, 141, 214, 0.5490196078);
}
.homepage__ourfeatures__section__container__card-top {
  display: flex;
  flex-direction: row;
}
.homepage__ourfeatures__section__container__card-top div:nth-child(2) {
  color: #4A49D9;
  font-size: 1.65vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
.homepage__ourfeatures__section__container__card-bottom {
  text-align: center;
  font-size: 1.1vw;
  padding: 0.25rem 0;
}
.homepage__newscomponent {
  width: 100%;
}
.homepage__newscomponent__image {
  width: 100%;
  background-color: #4A49D9;
}
.homepage__newscomponent__image img {
  height: 28vh;
}
.homepage__boards {
  width: 100%;
}
.homepage__boards__heading {
  padding: 2rem 0 1rem 0;
  font-size: 3vw;
  color: rgb(84, 71, 71);
  font-weight: 700;
  text-align: center;
}
.homepage__boards__images {
  width: 80%;
  margin: 0 auto;
}
.homepage__boards__images marquee img {
  height: 20vh;
  margin: 1rem;
}

@media (max-width: 768px) {
  .homepage__header__section {
    width: 90%;
  }
  .homepage__header__section__nav1__navcontent {
    display: none;
  }
  .homepage__header__section__nav2 {
    display: none;
  }
  .homepage__header__section__hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
  }
  .homepage__header__section__hamburger button {
    border: none;
    border-radius: 1rem;
    background-color: #F5F3FE;
    font-weight: 600;
  }
  .homepage__header__section__hamburger button i {
    font-size: 1.75rem;
    color: #4A49D9;
    background-color: #F5F3FE;
  }
  .homepage__banner__main {
    width: 90%;
  }
  .homepage__banner__main__video img {
    height: 45vh;
  }
  .homepage__ourprojects__section {
    width: 90%;
  }
  .homepage__ourfeatures__section {
    width: 90%;
  }
  .homepage__ourfeatures__section__container__card {
    width: 30%;
  }
  .homepage__ourfeatures__section__container__card-bottom {
    font-size: 1.5vw;
  }
}/*# sourceMappingURL=homepage.css.map */