$primary_color: #4A49D9;
$secondary_color: #7c7be2;
$color3: #DBDBF7;
$color4: #F5F3FE;
$color5: #ffffff;
$color6: black;
$color7: #FFF7F4;
$color8: #9a9797;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

// Developer Sairam
.homepage {

    // HomePage Navbar Styling
    &__header {
        width: 100%;
        background-color: $color4;
        height: 11vh;

        &__section {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            &__nav1 {
                display: flex;
                align-items: center;
                gap: 2rem;

                &__navcontent {
                    display: flex;
                    gap: 2rem;
                    align-items: center;
                    list-style: none;

                    li a {
                        text-decoration: none;
                        color: $color6;
                        cursor: pointer;

                        &:hover {
                            color: $primary_color;
                            border: 1px solid $secondary_color;
                            padding: .5rem 1rem;
                            border-radius: 1rem;
                        }
                    }
                }
            }

            &__nav2 {
                &__buttons {
                    display: flex;
                    gap: 2rem;

                    button {
                        font-size: 1.2vw;
                        padding: .5rem 1rem;
                        border-radius: 1.25rem;
                        border: none;
                        font-weight: 600;
                        cursor: pointer;

                        &:nth-child(1) {
                            background-color: $color3;
                            color: #333333;

                        }

                        &:nth-child(2) {
                            background-color: $primary_color;
                            color: $color5;
                        }
                    }
                }
            }

            &__hamburger {
                display: none;
                position: relative;

                & .toggledropdown {
                    position: absolute;
                    top: 99%;
                    right: -0.05rem;
                    background-color: $color4;
                    width: 30vw;
                    padding: 1rem 0;
                    max-width: 300px;
                    border-radius: .25rem;

                    ul {
                        list-style: none;
                        padding: 0;
                        text-align: left;

                        li {
                            margin-bottom: 0.5rem;
                            padding-bottom: .75rem;
                            border-bottom: 1px solid $color6;

                            a {
                                color: $color6;
                                text-decoration: none;
                                font-size: 2.25vw;
                                padding: 0.25rem .5rem;
                                cursor: pointer;
                            }
                        }
                    }

                    .dropdown-btns {
                        display: flex;
                        justify-content: space-evenly;
                        padding: .75rem 0 0.5rem 0;

                        button {
                            cursor: pointer;

                            &:nth-child(1) {
                                background-color: $color3;
                                color: #333333;
                                padding: .5rem 1rem;
                            }

                            &:nth-child(2) {
                                background-color: $primary_color;
                                color: $color5;
                                padding: .5rem 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    // HomePage Banner Styling
    &__banner {
        background-color: $primary_color;
        color: $color5;
        padding: 2rem 0;

        &__main {
            width: 80%;
            margin: 0 auto;
            display: flex;

            &__content {
                display: flex;
                flex-direction: column;
                padding: 2rem 0;

                &__title {
                    font-size: 3vw;
                    font-weight: 700;
                    line-height: 135%;
                }

                &__description {
                    font-size: 1.25vw;
                    padding: 2rem 0 1rem 0;
                }

                &__button {
                    margin-top: 1rem;

                    button {
                        padding: .75rem 1.5rem;
                        border-radius: 2rem;
                        border: none;
                        background-color: $secondary_color;
                        color: $color5;
                        font-weight: 600;
                        font-size: 1.35vw;
                        cursor: pointer;
                    }
                }
            }

            &__video {
                padding: 1rem 1rem 1rem 2.5rem;
                display: flex;
                align-items: center;

                img {
                    width: 35vw;
                    height: 60vh;
                }
            }
        }
    }

    // OurProjects Styling
    &__ourprojects {
        width: 100%;
        background-color: $color5;

        &__section {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 3rem 0 2rem 0;

            &__video {
                video {
                    width: 41vw;
                    height: 55vh;
                    border-radius : 1rem; 
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                padding: 3rem 0 3rem 1.5rem;

                &__title {
                    font-weight: 700;
                    font-size: 3vw;
                }

                &__description {
                    p {
                        font-weight: normal;
                        padding-top: 1.5rem;
                    }
                }
            }
        }
    }

    // Our Features Styling
    &__ourfeatures {
        width: 100%;
        background-color: $color3;

        &__section {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 2rem 0.5rem;

            &__heading {
                text-align: center;
                font-size: 3vw;
                font-weight: 700;
                color: $color6;
            }

            &__container {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                padding: 1rem 0;

                &__card {
                    display: flex;
                    flex-direction: column;
                    border: none;
                    border-radius: 1.5rem;
                    background-color: $color5;
                    width: 31%;
                    padding: 1rem;
                    box-shadow: 0px 22px 20px #898dd68c;

                    &-top {
                        display: flex;
                        flex-direction: row;

                        div:nth-child(2) {
                            color: $primary_color;
                            font-size: 1.65vw;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            padding: 0 0 0 1rem;
                        }
                    }

                    &-bottom {
                        text-align: center;
                        font-size: 1.1vw;
                        padding: .25rem 0;
                    }
                }
            }
        }
    }

    &__newscomponent {
        width: 100%;

        &__image {
            width: 100%;
            background-color: $color3;

            img {
                height: 28vh;
            }
        }
    }

    &__boards {
        width: 100%;

        &__heading {
            padding: 2rem 0 1rem 0;
            font-size: 2.5vw;
            color: rgb(84, 71, 71);
            font-weight: 700;
            text-align: center;
        }

        &__images {
            width: 80%;
            margin: 0 auto;

            marquee img {
                height: 20vh;
                margin: 1rem;
            }
        }
    }

    &__ourpartners {
        background: $color7;
        padding: .8rem 0;

        &__heading {
            text-align: center;
            color: $color6;
            font-size: 2.25rem;
            padding: 1.25rem 0px;
        }

        &__parent {
            display: flex;
            justify-content: center;
            gap: 2rem;
            padding: 2rem 0;

            img {
                width: 14vw;
                height: 11vh;
            }
        }
    }

    // Parents Voice Styling
    &__parentsvoice {
        width: 100%;
        background-color: $primary_color;

        &__section {
            width: 80%;
            padding: 2.5rem 0;
            box-sizing: border-box;
            margin: 0 auto;
            .carousel.carousel-slider .control-arrow:hover{
                background: none;
            }

            &__title {
                color: $color5;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
                margin: 0;
            }

            &__carousel {
                &-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding-top: 2rem;

                    &-card1 {
                        background-color: $color5;
                        width: 22vw;
                        padding: 1em;
                        margin-top: 1em;
                        border-radius: 0.5em;
                        position: relative;

                        &-image {
                            position: absolute;
                            transform: translateX(-50%);
                            left: 50%;
                            top: -2.4rem;
                            border: 4px solid white;
                            border-radius: 5rem;
                        }

                        &-text {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 1rem 0;

                            &-name {
                                padding-top: 0.4rem;
                                font-size: 1.2rem;
                                font-weight: 600;
                                color: #1b5079;
                                margin: 0;
                            }

                            &-desc {
                                font-size: 0.8rem;
                                font-weight: 400;
                                color: #9c9c9c;
                                margin: 0;
                            }

                            &-review {
                                font-size: 0.7rem;
                                font-weight: 400;
                                color: #5c5d60;
                                padding: 0.5rem;
                                margin: 0;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    &__leadersvoice{
        font-size: 2.75vw;
        color: $color6;
        text-align: center;
    }

    &__footer {
        background-image: url('homepage_assets/footerImg.png');
        background-position: cover;
        width: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;

        &__section {
            display: flex;
            justify-content: center;
            column-gap: 3rem;
            color: $color5;
            padding: 2rem 0 .5rem 0;

            a {
                text-decoration: none;
                color: $color8;
            }

            ul {
                list-style-type: none;
                padding-left: 0;
            }

            &__materials {
                font-size: medium;
                line-height: 2rem;
            }

            &__community {
                font-size: medium;
                line-height: 2rem;
            }

            &__company {
                font-size: medium;
                line-height: 2rem;
            }

            &__contact {
                font-size: medium;
                line-height: 2rem;
                color: $color8;

                h4 {
                    color: $color5;
                }
            }
        }

        &__bottom {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            &__logo {
                flex: 1;
                display: flex;
                justify-content: center;
            }

            &__rights {
                flex: 1;
                color: $color8 ;
                display: flex;
                justify-content: center;
            }

            &__socialmedia {
                flex: 1;
                display: flex;
                justify-content: center;
                gap: 0.5rem;
                padding-bottom: .75rem;

                a {
                    color: $color8;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .homepage {
        &__header {
            &__section {
                width: 90%;

                &__nav1 {

                    &__navcontent {
                        display: none;
                    }
                }

                &__nav2 {
                    display: none;
                }

                &__hamburger {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1rem 0 1rem;

                    button {
                        border: none;
                        border-radius: 1rem;
                        background-color: $color4;
                        font-weight: 600;

                        i {
                            font-size: 1.75rem;
                            color: $primary_color;
                            background-color: $color4;
                        }
                    }
                }
            }
        }

        &__banner {
            &__main {
                width: 90%;

                &__video {
                    img {
                        height: 45vh;
                    }
                }
            }
        }

        &__ourprojects {
            &__section {
                width: 90%;
                // flex-direction: column;
            }
        }

        // Our Features
        &__ourfeatures {
            &__section {
                width: 90%;

                &__container {
                    &__card {
                        width: 30%;

                        &-bottom {
                            font-size: 1.5vw;
                        }
                    }
                }
            }
        }

        &__footer {
            width: 100%;

            &__section {
                width: 100%;
                padding: 2rem 1rem;
            }

        }
    }
}